extends includes/layout
include includes/mixin

block content

  article.entry

    .entry-content
      // Hero
      .home-hero-img.py-6.pb-7.py-lg-8
        .container
          .row
            .col-lg-5
              div.p-3.home-cover-text-box
                h1.mb-2.mb-lg-2
                  div.has-soft-orange-color Toscana
                h3.mb-2.mb-lg-2.font-italic centro di competenza regionale
                h1.display-5.font-weight-bold
                  div Big Data, Data Science
                  div e Artificial Intelligence
      .has-white-background-color.pt-2.pb-4.pt-lg-3.pb-lg-5
        .row.gx-lg-5.gy-5
          .col-lg-12.justify-content-around.d-flex
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_Cnr.jpg" alt="CNR" style='width:100px; height:100px;')
                .px-lg-2.px-4
                .mt-lg-4.mt-5
                  p CNR Pisa
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_imt.jpg" alt="IMT" style='width:100px; height:100px;')
                .px-lg-4.px-4
                .mt-lg-4.mt-5
                  p IMT Lucca
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_normale.jpg" alt="Normale" style='width:100px; height:100px;')
                .px-lg-4.px-4
                .mt-lg-4.mt-5
                  p Scuola Normale Superiore
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_sanna.jpg" alt="S Anna" style='width:100px; height:100px;')
                .px-lg-4.px-4
                .mt-lg-4.mt-5
                  p Scuola Superiore S. Anna
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_unipi.jpg" alt="UniPi" style='width:100px; height:100px;')
                .px-lg-4.px-4
                .mt-lg-4.mt-5
                  p Università di Pisa
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_unifi.jpg" alt="UniFi" style='width:100px; height:100px;')
                .px-lg-4.px-4
                .mt-lg-4.mt-5
                  p Università di Firenze
            .text-center.align-items-center.float-left
              .mt-lg-4.mt-4.mb-2
                img(src="assets/images/logo/logo_unisi.jpg" alt="UniSi" style='width:100px; height:100px;')
                .px-lg-4.px-4
                .mt-lg-4.mt-5
                  p Università di Siena

      .has-soft-creame-background-color.pt-5.pb-7.pt-lg-9.pb-lg-8
        .container
          .row.gx-lg-6
            .col-lg-6.mb-5
              h4.has-soft-orange-color.mb-2.mb-lg-2.font-italic Cosa è il CBDAI
              h2.mb-4.mb-lg-4 Il polo di attrazione di ricercatori, innovatori, enti, aziende e pubbliche amministrazioni della Toscana
              .mb-lg-4
                p
                  span CBDAI aggrega tutti i soggetti interessati a cogliere le opportunit&agrave; create nei settori della Data Science, dei Big Data e dell&rsquo;Artificial Intelligence
                  span(style='font-weight: 400;')
                    | , ed avr&agrave; un grande impatto economico sul territorio regionale. Questa convinzione &egrave; motivata dalle crescenti richieste che i gruppi di ricerca proponenti ricevono da aziende ed enti per essere &ldquo;accompagnate&rdquo; verso la trasformazione culturale per un uso pi&ugrave; &ldquo;smart&rdquo; dei dati oppure verso la realizzazione di!{' '}
                  i
                    span(style='font-weight: 400;') proof of concepts!{' '}
                  span(style='font-weight: 400;')
                    | di nuovi servizi intelligenti che vorrebbero esplorare, ed anche dalle difficolt&agrave; incontrare ad acquisire e trattenere le figure professionali indispensabili per la trasformazione, quali!{' '}
                  i
                    span(style='font-weight: 400;') data scientist, data engineer, AI developer!{' '}
                  span(style='font-weight: 400;') , ed altro.
                a.btn.btn-default.rounded-0(href='four-pillars.html') I 4 pilastri

            .col-lg-3
              .col-12.mb-4.px-0
                .has-soft-blue-background-color.px-5.py-5.text-white.min-vh-40
                  h2 1.
                  h2.mb-3 Accesso
              .col-12.mb-4.px-0
                .has-soft-blue-background-color.px-5.py-5.text-white.min-vh-40
                  h2 3.
                  h2.mb-3 Formazione
            .col-lg-3
              .col-12.mb-4.px-0
                .has-soft-blue-background-color.px-5.py-5.text-white.min-vh-40
                  h2 2.
                  h2.mb-3 Ricerca
              .col-12.mb-4.px-0
                .has-soft-blue-background-color.px-5.py-5.text-white.min-vh-40
                  h2 4.
                  h2.mb-3 Trasferimento Tecnologico


      .has-white-background-color
        .container
          .row.gx-lg-5.align-items-center.mt-6.mt-lg-8
            .col-lg-6
              h5.has-soft-orange-color.mb-2.mb-lg-2 Hub
              h3
                | I 3 poli principali
                br
                | del centro di ricerca
              p
                | Un ecosistema della ricerca con tematiche analoghe negli atenei e negli istituti del territorio toscano

        .container-fluid.justify-content-around.d-flex
          .row.mt-4.mt-lg-5
            .col-md-4
              .border-drop-left.border-color-soft-creame
                .has-soft-creame-background-color.py-3.px-4.py-lg-5.px-lg-6.text-center
                  .mb-lg-4.mb-4
                    h5
                      | Pisa AI and Data Science Hub
                    br
                    .border-drop-right.m-3
                      img(src="assets/images/Pisa_zoom.png" alt="Pisa")
                    br
                  .mb-lg-4
                    a.btn.btn-default.rounded-0.btn-block(href='/about.html#pisaHub') Pisa + Lucca Hub
            .col-md-4
              .border-drop-left.border-color-soft-creame
                .has-soft-creame-background-color.py-3.px-4.py-lg-5.px-lg-6.text-center
                  .mb-lg-4.mb-4
                    h5
                      | Florence Center for Data Science
                    br
                    .border-drop-right.m-3
                      img(src="assets/images/Firenze_zoom.png" alt="Firenze")
                    br
                  .mb-lg-4
                    a.btn.btn-default.rounded-0.btn-block(href='/about.html#firenzeHub') Firenze Hub
            .col-md-4
              .border-drop-left.border-color-soft-creame
                .has-soft-creame-background-color.py-3.px-4.py-lg-5.px-lg-6.text-center
                  .mb-lg-4.mb-4
                    h5
                      | Siena Artificial Intelligence Laboratory
                    br
                    .border-drop-right.m-3
                      img(src="assets/images/Siena_zoom.png" alt="Siena")
                    br
                  .mb-lg-4
                    a.btn.btn-default.rounded-0.btn-block(href='/about.html#sienaHub') Siena Hub
        // Research Infrastructure and Ethics
        // form subscription
        .container
          .row.align-items-center.gx-lg-7.mb-lg-9.mt-lg-9.mt-7.mb-7
            .col-lg-6
              .px-3
                h2.mb-3 L'infrastruttura di ricerca
                p.lead.pr-lg-7
                  |Il Centro proposto realizza il concetto di una!{' '}
                  strong Research Infrastructure!{' '}
                  | permanente sul tema dei Big Data e dell’Artificial Intelligence, a beneficio delle aziende (di ogni dimensione), pubbliche amministrazioni, enti e ricercatori del territorio, punto di riferimento e di aggregazione a livello nazionale e internazionale.
                a.btn.btn-default.rounded-0(href='research-infrastructure.html') Research Infrastructure

            .col-lg-6.mt-4
              .border-drop-left
                .has-soft-creame-background-color.py-5.px-4.py-lg-7.px-lg-6
                  .mb-lg-4.mb-4
                    h5.has-soft-orange-color.mb-2.mb-lg-2 Etica e privacy by design
                    br
                    p
                    strong 1.!{' '}
                    | Tutte le ricerche e gli esperimenti realizzati tengano conto dei diritti di privacy delle persone che hanno prodotto i dati
                  .mb-lg-4.mb-4
                    strong 2.!{' '}
                    | Il progetto e la realizzazione di software data-driven includano fin dall’inizio tecniche per affrontare compiutamente e correttamente le domande etiche (approccio value-sensitive design)
                  .mb-lg-4.mb-4
                    strong 3.!{' '}
                    |  Tutte le ricerche adotteranno una logica open-science rendendo riproducibili i loro risultati e rendendo accessibili gli esperimenti (data set, modelli e workflow) sulle e-infrastructures del centro in rispetto alle regole di accessibilità peculiari della ricerca

      // Values
      .has-soft-creame-background-color.py-6.py-lg-9
        .container
          .row-lg-12
            .col-lg-6
              h5.has-soft-orange-color.mb-2.mb-lg-2.font-italic Topic
              h2.font-weight-bold.mb-lg-3.mb-3 Principali aree di ricerca
          .row.gx-lg-5.align-items-center
            .col-lg-6
              div
                ul
                  li Algorithmic techniques and methodologies for analysis, storage, mining, security and retrieval of Big Data
                  li Machine Learning
                  li Statistical Learning
                  li Predictive e Prescriptive Analytics
                  li High-performance, scalable and real-time Big Data processing platforms
                  li Big Data analytics nel settore economico e socio-demografico
                  li Big Data analytics nel settore industriale
                  li Financial data science
            .col-lg-6
              div
                ul
                  li Computer vision and pattern recognition
                  li Social sensing
                  li Aspetti giuridici ed etici della big data analytics e dell&rsquo;Intelligenza Artificiale
                  li Data science in medicina, salute pubblica e nelle scienze della vita
                  li Data Visualization, Data Journalism e Story telling
                  li Data science per la progettazione/caratterizzazione di nuovi materiali o farmaci
                  li Business Modeling for Big Data
                  li Scienza delle reti
          .row
            .col-lg-6
              a.btn.btn-default.rounded-0(href='topic-algo.html') Maggiori dettagli



