extends includes/layout
include includes/mixin

block content
  article.entry
    .entry-content
      //- Page title
      // Hero
      .home-hero-img.py-6.pb-7.py-lg-8
        .container
          .row
            .col-lg-5
              div.p-3.home-cover-text-box
                h1.mb-2.mb-lg-2
                  div.has-soft-orange-color Research infrastructure
                h3.mb-2.mb-lg-2.font-italic centro di competenza regionale
                h1.display-5.font-weight-bold
                  div Big Data, Data Science
                  div e Artificial Intelligence
      //- Page title
      .has-soft-creame-background-color.pt-3.pb-5.pt-lg-7.pb-lg-6
        .container
          .row.gx-lg-5
            .col-lg-6.mb-4
              p.lead Il Centro proposto realizza il concetto di una Research Infrastructure permanente sul tema dei Big Data e dell’Artificial Intelligence, a beneficio delle aziende (di ogni dimensione), pubbliche amministrazioni, enti e ricercatori del territorio, con una concreta possibilità di diventare un punto di riferimento e di aggregazione a livello nazionale e internazionale.
              p.lead Il centro opererà in sinergia con l’infrastruttura di Ricerca Europea H2020 SoBigData.eu, di cui molti dei partner sono membri, che ha costruito una piattaforma (e-infrastructure ) per la condivisione responsabile di dati, algoritmi ed esperimenti tra ricercatori e innovatori che offre un catalogo di risorse di Big Data ed AI secondo l’approccio FAIR (findability, accessibility, interoperability, responsibility).


            .col-lg-6
              table.table.mb-5.has-white-background-color
                tbody
                  tr
                    th(scope='row')
                      span Societal debates -!{' '}
                      span.font-weight-normal studia l’impatto sulla società che hanno argomenti legati all’attualità con speciale riferimento alla politica; studia come si sviluppano temi controversi e come si polarizzano le opinioni nelle conversazioni on-line.
                  tr
                    th(scope='row')
                      span Societal well-being & economic performance -!{' '}
                      span.font-weight-normal fornisce una serie di dati e strumenti per valutare diversi indicatori economici e studia come costruire, monitorare e prevedere nuovi indicatori di benessere.
                  tr
                    th(scope='row')
                      span City of citizens -!{' '}
                      span.font-weight-normal fornisce una serie di strumenti legati allo sviluppo di smart cities e servizi di mobilità sia urbana che su larga scala sulla base di modelli di mobilità individuale e collettiva per città intelligenti e partecipative.
                  tr
                    th(scope='row')
                      span Migration studies -!{' '}
                      span.font-weight-normal studia flussi migratori su scala mondiale.
                  tr
                    th(scope='row')
                      span Data Science for Sport Analytics -!{' '}
                      span.font-weight-normal studia l’utilizzo dei dati prodotti dai tanti nuovi sensori IoT e/o provenienti da altre sorgenti in ambito sportivo (calcio, tennis, ciclismo, rugby, personal well-being) per migliorare le prestazioni degli atleti o per supportare previsioni o tattiche di gioco.
                  tr
                    th(scope='row')
                      span Impact of AI in society  -!{' '}
                      span.font-weight-normal AI responsabile e trasparente e il futuro del lavoro.
